//$theme-color:#3b5998; // Facebook
//$theme-color:#0084FF; // Facebook messenger

$theme-color: #6f42c1; // Instagram
$theme-component-active: rgb(#6f42c1, 0.6);
$theme-color-shade: #f8f9fa;

//$theme-color:#6351ce;
//$theme-color:#32a8a8;

/*Blue color*/
// $theme-color:#7386D5;
// $theme-component-active: #6d7fcc;
// $theme-color-shade:#f8f9fa;
